
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Staatliches');

@tailwind base;
.btn-submit {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}
.btn-submit:hover {
  @apply bg-blue-700;
}

.form-control {
  @apply mb-4;
}

.admin-header {
  @apply bg-white flex flex-auto rounded p-4;
}

.admin-body {
  @apply bg-white flex flex-auto rounded mt-4 mb-4 min-h-screen p-4;
}

@tailwind components;



@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Staatliches', cursive;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}



/*
 * Content
 */

[role="main"] {
  margin-top: 48px; /* Space for fixed navbar */ /* was padding */
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  main {
    margin-top: 120px;
  }
}
